<mat-toolbar color="primary">
    <mat-icon>local_fire_department</mat-icon>
    <span>Kanban Fire</span>
</mat-toolbar>
<div class="content-wrapper">
    <button (click)="newTask()" mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon">
        <mat-icon>plus_one</mat-icon>
    </button>
    <div class="container-wrapper">
        <div class="container">
            <h2>Backlog</h2>
            <p>Total Items in Backlog {{todo.length}} </p>
            <mat-card cdkDropList id="todo" #todoList="cdkDropList" [cdkDropListData]="todo" [cdkDropListConnectedTo]="[doneList, inProgressList]" (cdkDropListDropped)="drop($event)" class="list">
                <p class="empty-label" *ngIf="todo.length === 0">Empty list</p>
                <app-task (edit)="editTask('todo', $event)" *ngFor="let task of todo" cdkDrag [task]="task" [value]="0"></app-task>
            </mat-card>
        </div>

        <div class="container">
            <h2>In progress</h2>
            <p>Total Items that In Progress {{inProgress.length}} </p>
            <mat-card cdkDropList id="inProgress" #inProgressList="cdkDropList" [cdkDropListData]="inProgress" [cdkDropListConnectedTo]="[todoList, doneList]" (cdkDropListDropped)="drop($event)" class="list">
                <p class="empty-label" *ngIf="inProgress.length === 0">Empty list</p>
                <app-task (edit)="editTask('inProgress', $event)" *ngFor="let task of inProgress" cdkDrag [task]="task" [value]="50"></app-task>

            </mat-card>

        </div>

        <div class="container">
            <h2>Done</h2>
            <p>Total Items Completed {{done.length}} </p>
            <mat-card cdkDropList id="done" #doneList="cdkDropList" [cdkDropListData]="done" [cdkDropListConnectedTo]="[todoList, inProgressList]" (cdkDropListDropped)="drop($event)" class="list">
                <p class="empty-label" *ngIf="done.length === 0">Empty list</p>
                <app-task (edit)="editTask('done', $event)" *ngFor="let task of done" cdkDrag [task]="task" [value]="100"></app-task>
            </mat-card>
        </div>
    </div>
</div>